body {
  background-color: #FCF1EF;
  padding: 20px;
  font-family: "Soligant", sans-serif;
  background: #FCF1EF;
}
input[type=text], select, textarea {
width: 50%; /* Full width */
padding: 12px; /* Some padding */
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
font-family: "Soligant", sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #0099ff;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: "Soligant", sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #E5BABF;
}

/* Add a background color and some padding around the form */
.container {
border-radius: 5px;
background-color: #fff;
padding: 20px;
text-align: center;
font-family: "Soligant", sans-serif;
}

/*========BIO======*/

.bio {
  margin-bottom: 60px;
  align-items: center;
  align-text: center;
}

.bio-title {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 20px;
  margin-top: 100px;
  color: #556945;
  position: center;
}

.bio-occupation {
  margin-bottom: 20px;
  color: #556945;
}

.bio-occupation {
  font-size: 14px;
  line-height: 1.714;
}

.bio-about-me {

  color: #556945;
  font-size: 20px;
  line-height: 1.714;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 28.33%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}


/* Home Page CSS */

@font-face {
    font-family:Soligant ;
    src: url(Soligant.ttf);
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:#FCF1EF;
    color: #556945;

    font-family: Soligant,serif;
    font-size: 16px;
    font-weight: normal;
    
    margin:0 ;
}

.button{
    background-color: #BDCAC5;
    color:#FCF1EF;
    padding:20px 15px;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    justify-content: center;
   
}

.button:hover{
    background-color: #edebe7;
    color: #556945;
}

#main-header{
    background-color:#FCF1EF;
    color: #556945;
    text-align: center;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.clr{
    clear: both;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor:pointer;
    margin-right: auto;
    width: 160px;
    height: 160px;
}


#navbar{
    background-color:#FCF1EF;
    color: #556945;
    text-align: center;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color: #556945;
    text-decoration: none;
    font-size: 16px;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar li a:hover {
    color: #BDCAC5;
}

.cta {
    padding: 9px 25px;
    background-color: #E5BABF ;
    color: #FCF1EF;
    border: none;
    border-radius: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}

.cta:hover {
    background-color: #BDCAC5 ;
}


#main-block{
    float: right;
    width:50%;
    box-sizing: border-box;
    position: relative;
}

#main-block img{
   padding: 0px;
   margin: 0px;
   float:right;
   width:50vw;
}


#side-block{
    float: left;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
}

#side-block h1{
font-family: Soligant, serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px;
  
}

#side-block a{
    background-color: #BDCAC55;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}

#box-1{
    height: auto;
    background-color: #BDCAC5;
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    line-height: normal;
}
    
#side-block-1{
    float: left;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
}

#side-block-1 h1{
font-family: Soligant, serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px; 
}

#side-block-1 a{
    background-color: #BDCAC55;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}
#main-block-1{
    
    
    border-right: 1px solid; 
    float: left;
    width:50%;
    box-sizing: border-box;
    position: relative;
}

#main-block-1 img{
   padding: 0px;
   margin: 0px;
   float:left;
   width:50vw;
}

#main-block-2{
    border-right: 1px solid; 
    float: right;
    width:50%;
    box-sizing: border-box;
    position: relative;
}

#main-block-2 img{
   padding: 0px;
   margin: 0px;
   float:right;
   width:50vw;
}


#side-block-2{
    float:left;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative; 
}

#side-block-2 h1{
font-family: Soligant, serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px; 
}

#side-block-2 a{
    background-color: #BDCAC55;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}
  
#box-2{
    height: auto;
    background-color: #BDCAC5;
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    line-height: normal;
}


#main-block-3{
    float: left;
    width:50%;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
}

#main-block-3 img{
    padding: 0px;
    margin: 0px;
    float:left;
    width:50vw;
    height: 100vh;
 }

#side-block-3{
    float: right;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
}

#side-block-3 h2{
font-family: Soligant, serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px;
}

#side-block-3 a{
    background-color: #BDCAC55;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}
  
#main-block-4{
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
}

#main-block-4 img{
    padding: 0px;
    margin-top: 100px;
    float:left;
    width: 100%;
    height: 70vh;
 }


#main-footer{
    background: #BDCAC5;
    color: #FCF1EF7;
    text-align: center;
    padding: 100px;
}




