body{
    background:#FCF1EF;
    color: #556945;
    font-family: Soligant,serif;
    font-size: 16px;
    font-weight: normal;
    margin:0 ;
}

@font-face {
    font-family: "Soligant", sans-serif;
    src: url(Soligant.ttf);
}

body {
  background-color: #FCF1EF;
  padding: 20px;
  font-family: "Soligant", sans-serif;
  background: #FCF1EF;
}


/*=====Nav bar=====*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fff;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Soligant", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #E5BABF;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
  text-align: center;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #556945;
}

.cta {
  padding: 9px 25px;
  background-color: #556945;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  color: #fff;
}

.cta:hover {
  background-color: #E5BABF;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #FCF1EF;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #BDCAC5;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #556945;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}



/*========Text======*/

.bio {
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 20px;
  margin-top: 100px;
  color: #556945;
  position: center;
}

.page-text {
  color: #556945;
  font-size: 16px;
  line-height: 1.714;
  font-family: "Arial", sans-serif;
  font-style: italic;
}

/*=====Form=====*/

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}
/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 500px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: center;
  }
}

input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
font-family: "Soligant", sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #556945;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: "Soligant", sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #E5BABF;
}

/* Add a background color and some padding around the form */
.form-container {
max-width: 500px;
border-radius: 5px;
background-color: #fff;
padding: 20px;
text-align: center;
display: block;
font-family: "Soligant", sans-serif;
}

/*=====Main Page=====*/


#navbar{
    background-color:#FCF1EF;
    color: #556945;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar ul{
    padding:0;
    list-style:none;
}
#navbar li{
    display:inline;
}
#navbar a{
    color: #556945;
    text-decoration: none;
    font-size: 16px;
    padding-right: 50px;
    padding-left: 50px;
}
#navbar li a:hover {
    color: #BDCAC5;
}

.button{
    background-color: #BDCAC5;
    color:#FCF1EF;
    padding:20px 15px;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.button:hover{
    background-color: #EDEBE7;
    color: #556945;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-1{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.clr{
    clear: both;
}

#main-block{
    float: right;
    width:50%;
    box-sizing: border-box;
    position: relative;
}
#main-block img{
   padding: 0px;
   margin: 0px;
   float:right;
   width:50vw;
}
#side-block{
    float: left;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
}
#side-block h1{
font-family: "Soligant", serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px;
}
#side-block a{
    background-color: #BDCAC5;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left: 375px;
}
#box-1{
    height: 620px;
    background-color: #BDCAC5;
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
}
#side-block-1{
    float: left;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
}
#side-block-1 h1{
  height: 620px;
font-family: "Soligant", serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px;
}
#side-block-1 a{
    background-color: #BDCAC5;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}
#main-block-1{
    border-right: 1px solid;
    float: left;
    width:50%;
    box-sizing: border-box;
    position: relative;
}
#main-block-1 img{
   padding: 0px;
   margin: 0px;
   float:left;
   width:50vw;
}
#main-block-2{
    border-right: 1px solid;
    float: right;
    width:50%;
    box-sizing: border-box;
    position: relative;
}
#main-block-2 img{
   padding: 0px;
   margin: 0px;
   float:right;
   width:50vw;
}
#side-block-2{
    float:left;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
}
#side-block-2 h1{
font-family: Soligant, serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px;
}
#side-block-2 a{
    background-color: #BDCAC5;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}
#box-2{
    height: auto;
    background-color: #BDCAC5;
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
}
#main-block-3{
    float: left;
    width:50%;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
}
#main-block-3 img{
    padding: 0px;
    margin: 0px;
    float:left;
    width:50vw;
    height: 100vh;
 }
#side-block-3{
    float: right;
    width:50vw;
    background-color: #FCF1EF;
    padding:0;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
}
#side-block-3 h2{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-weight: normal;
font-size: 65px;
line-height: 60px;
padding: 100px;
}
#side-block-3 a{
    background-color: #BDCAC5;
    color: #FCF1EF;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    position:absolute;
    left:250px;
}
#main-block-4{
    float: left;
    width:100%;
    box-sizing: border-box;
    position: relative;
}
#main-block-4 img{
    padding: 0px;
    margin-top: 100px;
    float:left;
    width: 100%;
    height: 70vh;
 }
#main-footer{
    background: #BDCAC5;
    color: #FCF1EF;
    text-align: center;
    padding: 100px;
}

/* Service page  CSS */

.photo1{
  flex: 50%; /* Set the width of the sidebar */
  padding: 40px; /* Some padding */
  background-color: white;
}

.servicepagesideblock {
  flex: 50%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 40x; /* Some padding */
  align: left;
}

.secondbox{
align: center;
padding: 40px;
}
.servicepagesideblock1 {
  flex: 50%; /* Set the width of the main content */
  padding: 40x; /* Some padding */
  align: left;
}

.photo2 {
  flex: 50%; /* Set the width of the sidebar */
  padding: 20px; /* Some padding */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 28.33%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}
